#rows{
    grid-auto-columns: auto;
}
#columns{
    grid-template-columns: 10px 1fr 10px

    
}
.center{
    text-align: center;
}
.green{
    background-color: #4caf4fce; /* Green */
    color: white;

}
.red{
    background-color: #3b3b3b; /* Green */
    color: white;

}
.blue{
    background-color: #006eff; /* Green */
    color: white;

}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.75fr));
  }

  .grid-element {
    padding: 11px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.288);
    font-size: 9px;
  }
  

.grid-container {
    display: grid;
}